.site-list .container {
  margin-top: 25px;
}
@media (min-width: 1200px) {
  .site-list .container {
    width: 1028px;
  }
  .site-list .col-md-3,
  .site-list .col-md-6 {
    padding: 0 10px;
  }
}
.site-list h3 {
  padding-bottom: 10px;
  border-bottom: solid 2px #e6e6e6;
}
.site-list .row {
  margin-bottom: 3px;
  margin-top: 3px;
}
.thumbnail {
  border-radius: 0;
  padding: 0;
  height: 302px;
  border: solid 1px #e6e6e6;
}
.thumbnail:hover {
  text-decoration: none;
  border: solid 1px #e29faf;
}
.thumbnail:hover .img-front-style-50 {
  opacity: 0;
}
.thumbnail:hover .img-front-text {
  opacity: 0.7;
}
.slider-left {
  width: 378px;
  height: 300px;
  padding-right: 0;
  overflow: hidden;
}
.slider-left h4 {
  border-bottom: 0;
  padding-bottom: 0;
}
.slider-left p {
  height: 55px;
  line-height: 28px;
  overflow: hidden;
  margin: auto;
}
.slider-left > a {
  color: #333;
}
.slider-left > a:hover,
.slider-left > a:focus {
  color: #eab8c4;
  text-decoration: none;
}
.img-front-text {
  height: 300px;
  width: 235px;
  padding: 0 20px;
  position: absolute;
  left: 11px;
  top: 1px;
  text-decoration: none;
  color: #818181;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}
.img-front-text-content {
  height: 300px;
  width: 235px;
  padding: 0 20px;
  position: absolute;
  left: 11px;
  top: 1px;
  text-decoration: none;
  color: #818181;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  opacity: 1;
  background: none;
  color: #fff;
  padding-top: 20px;
}
.img-front-text-content li {
  height: 81px;
  margin-bottom: 10px;
  overflow: hidden;
}
.img-front-text-content li a {
  color: #fff;
  text-decoration: none;
}
.img-front-text-content li a:hover {
  color: #eab8c4;
}
.img-front-text .text-title {
  height: 128px;
  position: relative;
  border-bottom: dashed 1px #EAB8C4;
  overflow: hidden;
}
.img-front-text .text-title .text-title-h4 {
  position: absolute;
  bottom: 0px;
}
.img-front-text .text-content {
  height: 172px;
  padding-top: 29px;
  padding-bottom: 5px;
  overflow: hidden;
}
.img-front-style-50 {
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 230px;
  text-decoration: none;
  color: #818181;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  opacity: 0.7;
}
.img-front-style-100 {
  height: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 9px 9px 10px;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 180px;
  text-decoration: none;
  color: #818181;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  opacity: 0.7;
}
.div-boder {
  width: 90px;
  height: 40px;
  float: left;
  clear: right;
  padding-top: 10px;
}
.img-front-style-100 .div-left {
  width: 90px;
  height: 40px;
  float: left;
  clear: right;
  padding-top: 10px;
  border-bottom: dotted 1px #eab8c4;
  border-right: dotted 1px #eab8c4;
}
.img-front-style-100 .div-col2-left {
  width: 90px;
  height: 40px;
  float: left;
  clear: right;
  padding-top: 10px;
  clear: left;
  border-right: dotted 1px #eab8c4;
}
.img-front-style-100 .div-right {
  width: 90px;
  height: 40px;
  float: left;
  clear: right;
  padding-top: 10px;
  border-bottom: dotted 1px #eab8c4;
}
a.text-into-img {
  color: #818181;
  text-decoration: none;
}
a.text-into-img:hover {
  color: #eab8c4;
}
.bgw > .row {
  margin-top: 10px;
  margin-bottom: 20px;
}
